* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker,
input[type='number'] {
  padding: 10px;
  border: #21212186 2px solid;
  border-radius: 5px;
  font-size: 18px;
}
button[data-start],
button[data-stop] {
  padding: 10px;
  border: #2121211a 2px solid;
  border-radius: 5px;
  font-size: 18px;
}

.field {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
.timer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  border: #2121213f 3px solid;
  border-radius: 7px;
}
.value {
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}
button[type='submit'] {
  padding: 5px;
  border: #2121211a 2px solid;
  border-radius: 5px;
  font-size: 17px;
}
